    <div id="footer">
        <p class="copyright">
            &copy; 2013 AlphaThink All Rights Reserved. Host by GitHub&nbsp;&nbsp;<script src="http://s25.cnzz.com/stat.php?id=5067067&web_id=5067067&show=pic" language="JavaScript"></script><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8ce37e6a21e5b4ddcc947efd999f1d5e' type='text/javascript'%3E%3C/script%3E"));
</script>
        </p>
    </div>
</body>
</html>

